In [1]:
# Support Vector Machine or SVM is one of the most popular Supervised Learning algorithm, which is used for classificaation as 
# well as regression problem

In [2]:
# # # SVM is of two types
# # 1.Linear SVM: if dataset can be classified into two classes just by using a single straight line, then that's
# termed as Linear 
# #     SVM
# Non linaer other all cases

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data_set=pd.read_csv("A:/Machine Learning/my_data.csv")
data_set

     User_ID Gender   Age   Salary   Purchased
0   15624510    Male    19    19000          0
1   15810944    Male    35    20000          0
2   15668575  Female    26    43000          0
3   15603246  Female    27    57000          0
4   15804002    Male    19    76000          0
5   15728773    Male    27    58000          0
6   15598044  Female    27    84000          0
7   15694829  Female    32   150000          1
8   15600575    Male    25    33000          0
9   15727311  Female    35    65000          0
10  15570769  Female    26    80000          0
11  15606274  Female    26    52000          0
12  15746139    Male    20    86000          0
13  15704987    Male    32    18000          0
14  15628972    Male    18    82000          0
15  15697686    Male    29    80000          0
16  15733883    Male    47    25000          1
17  15617482    Male    45    26000          1
18  15704583    Male    46    28000          1
19  15621083  Female    48    29000          1
20  15649487    Male    45    22000          1
21  15736760  Female    47    49000          1

In [3]:
x=data_set.iloc[:,[2,3]].values
y=data_set.iloc[:,4].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(x, y, test_size=0.25, random_state=0)
#feature scaling
from sklearn.preprocessing import StandardScaler
st_x=StandardScaler()
X_train=st_x.fit_transform(X_train)
X_test=st_x.transform(X_test)

In [4]:
X_train

array([[-5.24135566e-01, -1.51364607e-01],
       [ 1.72581223e+00, -8.56455433e-01],
       [-6.26405920e-01, -7.33830941e-01],
       [-4.21865211e-01,  8.29631325e-01],
       [ 1.62354187e+00, -9.79079924e-01],
       [-1.24002805e+00,  5.84382342e-01],
       [-5.24135566e-01, -4.27269713e-01],
       [-4.21865211e-01,  3.25721306e-02],
       [ 1.41900117e+00, -9.48423802e-01],
       [ 3.96297623e-01,  2.47164991e-01],
       [ 8.94865600e-02,  2.85293544e+00],
       [ 1.52127152e+00, -8.87111556e-01],
       [-4.21865211e-01,  1.91600768e-03],
       [-1.24002805e+00, -1.16301666e+00],
       [-2.17324503e-01,  7.07006834e-01],
       [-1.13775769e+00,  8.90943571e-01]])

In [5]:
X_test

array([[ 1.41900117, -1.07104829],
       [-0.52413557,  0.70700683],
       [-1.3422984 ,  0.76831908],
       [ 0.08948656, -1.19367278],
       [ 0.39629762, -1.13236054],
       [ 1.62354187, -0.24333298]])

In [6]:
data_set

     User_ID Gender   Age   Salary   Purchased
0   15624510    Male    19    19000          0
1   15810944    Male    35    20000          0
2   15668575  Female    26    43000          0
3   15603246  Female    27    57000          0
4   15804002    Male    19    76000          0
5   15728773    Male    27    58000          0
6   15598044  Female    27    84000          0
7   15694829  Female    32   150000          1
8   15600575    Male    25    33000          0
9   15727311  Female    35    65000          0
10  15570769  Female    26    80000          0
11  15606274  Female    26    52000          0
12  15746139    Male    20    86000          0
13  15704987    Male    32    18000          0
14  15628972    Male    18    82000          0
15  15697686    Male    29    80000          0
16  15733883    Male    47    25000          1
17  15617482    Male    45    26000          1
18  15704583    Male    46    28000          1
19  15621083  Female    48    29000          1
20  15649487    Male    45    22000          1
21  15736760  Female    47    49000          1

In [7]:
#Now the trained set will be fitted to the SVM classifier, To create the SVM classifier we'll import SVC class from sklearn.svm
# library
from sklearn.svm import SVC
classifier = SVC(kernel='linear',random_state=0)
classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [8]:
# Now predicting the test result
y_pred=classifier.predict(X_test)
y_pred

array([1, 0, 0, 0, 0, 1], dtype=int64)

In [11]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test, y_pred)
cm

array([[4, 0],
       [0, 2]], dtype=int64)

In [ ]:
from